// Footer section - needs more work
.footerSection {
  @include padding-leftRight;

  background-image: linear-gradient($colour-sanJuan, $colour-greenpay-blue);
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .chevron {
    // height: 10rem;
  }

  .greenpayWhite {
    margin-top: 1em;
    height: 4.5em;
  }

  .footerText {
    color: $colour-white;
    @include font-size-map($tiny-font-size);
    padding-bottom: 1.2em;
    font-weight: normal;
  }

  .footerHeading {
    color: $colour-white;
    @include font-size-map($tiny-font-size);
    padding-bottom: 1.2em;
    font-weight: bold;
  }
}
