#billDiv {
  .topLeftIcon {
    width: 220px;
    height: 220px;
    -webkit-border-radius: 220px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 220px;
    -moz-background-clip: padding;
    border-radius: 220px;
    background-clip: padding-box;
    margin: 2px 0 0 5px;
    float: left;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    //background-image: url('../../images/bill-pay-screen-image-v2.svg');
    background-color: #e0edff;
    border-color: darkgray;
  }

  .bottomPaySection {
    background-color: #e0edff;
  }
}
