//--------------------total block is unique
.totalSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 3em;
  margin-right: 11em;
  text-align: center;
}

.totalSection h2 {
  font-size: 1.2em;
}
.totalBlock {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 1em;
  padding-top: 1em;
  height: 5em;
  border: solid #60ac17;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-top-width: 0px;
  margin-left: 3em;
  width: 13.5em;
  border-radius: 0 0 0.4em 0.4em;
}

.totalBlock h2 {
  font-weight: bold;
  text-align: right;
}
//------------------------>
