.parentContainer {
  min-height: 100vh;
  @include flexbox;
  flex-direction: column;
  //background-color: red;
  background-image: url('../../images/background-image.svg');
}

.menuContainer {
  @include flexbox;
  padding-top: 6em;
  padding-bottom: 6em;
  min-height: 60vh;
}

.menuIcon {
  font-size: 2em;
  margin-right: 1em;
  color: white;
}
